.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav {
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              margin: 0 200px;

}
/* shared font style */
.dark-2{
                              color: #474747;
}

.btn-primary{
                              color:white;
                              background-color: #FD6E0A;
                              padding: 8px 10px 8px 10px;
                              font-size:20px;
                              border:none;
                              font-weight: bold;
                              border-radius: 8px;
                              /* box-shadow: 8px 10px 8px 10px #FD6E0A ; */
                              
}

nav ul li{
                              list-style: none;

                              display: inline;
                              margin-right: 51px;
}

.nav-title .text-primary{
                              color:#FD6E0A;
                              
}


nav li  a {
                              text-decoration: none;
                              font-size: 20px;
}

nav ul  {
                              display: flex;
                              align-items: center;
                              
}


.nav-title{
                              font-weight: 800;
                              font-size:45px;
}

.banner-greetings{
                              font: size 45px;
                              font-weight: 700;
}

.banner-title{
                              font-weight: bold;
                              font-size:85px;
}

.banner-paragraph-title{
                              font-size: 18px;
                              font-weight: 100;

}

.banner{
                              display :flex;
                              justify-content: space-between;
                              margin:0 35px 0 200px;
}
.banner-profile{
                              width:580px;

}

.banner-container{
                              max-width: 580px;
}

.Header{
                              background-image:url('/images/developer.png'),url('/images/header_bg.png');
                              background-repeat: no-repeat;
                              background-position: top left, bottom right;
                              
}





